---
import Layout from '../layouts/Layout.astro';
import Heading from '../components/heading.astro';
---

<Layout title="Sober sips">
  <main>
    <!-- section 1 -->
    <section class="w-full px-4 py-8 md:px-8 lg:px-12">
      <div class="mx-auto w-full max-w-125">
        <Heading type="h2" stylingclasses="pb-4">
          NO. 3
        </Heading>

        <article class="bg-accent-green px-8 py-10 text-neutral-white shadow-[0_10px_30px_rgba(0,0,0,0.14)] md:px-11 md:py-12">
          <h2 class="font-space text-[24px] font-bold md:text-[28px]">
            COLD DRINKS
          </h2>

          <div class="mt-10 space-y-5 font-special text-[16px]">
            <p class="pb-4">0.0% COCKTAILS</p>

            <div>
              <div class="flex items-end gap-1">
                <span>Not-a-Gin & Tonic (Highball)</span>
                <span class="mb-1 grow border-b border-dashed border-neutral-white"></span>
                <span>110kr</span>
              </div>
              <p class="text-[13px] leading-tight">
                Tanqueray 0.0%, 3 Cents Tonic
              </p>
            </div>

            <div>
              <div class="flex items-end gap-1">
                <span>Cloverclub (Coup)</span>
                <span class="mb-1 grow border-b border-dashed border-neutral-white"></span>
                <span>125kr</span>
              </div>
              <p class="text-[13px] leading-tight">
                Tanqueray 0.0%, Lemon, Raspberry
              </p>
            </div>

            <p class="pt-12 pb-4">SODA</p>

            <div class="flex items-end gap-1">
              <span>Tonic</span>
              <span class="mb-1 grow border-b border-dashed border-neutral-white"></span>
              <span>49kr</span>
            </div>

            <div class="flex items-end gap-1">
              <span>Aegean Tonic</span>
              <span class="mb-1 grow border-b border-dashed border-neutral-white"></span>
              <span>49kr</span>
            </div>

            <div class="flex items-end gap-1">
              <span>Grapefruit Soda</span>
              <span class="mb-1 grow border-b border-dashed border-neutral-white"></span>
              <span>49kr</span>
            </div>

            <div class="flex items-end gap-1">
              <span>Lemon Soda</span>
              <span class="mb-1 grow border-b border-dashed border-neutral-white"></span>
              <span>49kr</span>
            </div>

            <div class="flex items-end gap-1">
              <span>Coca Cola</span>
              <span class="mb-1 grow border-b border-dashed border-neutral-white"></span>
              <span>38kr</span>
            </div>

            <div class="flex items-end gap-1">
              <span>Coca Cola Zero</span>
              <span class="mb-1 grow border-b border-dashed border-neutral-white"></span>
              <span>38kr</span>
            </div>

            <div class="flex items-end gap-1">
              <span>Squash Orange</span>
              <span class="mb-1 grow border-b border-dashed border-neutral-white"></span>
              <span>38kr</span>
            </div>

            <p class="pt-12 pb-4">AQUA AD LIBITUM</p>

            <div class="flex items-end gap-1">
              <span>W/WO Bubbles</span>
              <span class="mb-1 grow border-b border-dashed border-neutral-white"></span>
              <span>20kr</span>
            </div>
          </div>

          <p class="pt-24 text-center font-special text-[34px] md:text-[40px]">
            SOBER SIPS
          </p>
        </article>
      </div>
    </section>

    <!-- section 2 -->
    <section class="w-full px-4 pt-8 pb-20 md:px-8 lg:px-12">
      <div class="mx-auto w-full max-w-125">
        <Heading type="h2" stylingclasses="pb-4">
          NO. 4
        </Heading>

        <article class="bg-accent-green px-8 py-10 text-neutral-white shadow-[0_10px_30px_rgba(0,0,0,0.14)] md:px-11 md:py-12">
          <h2 class="font-space text-[24px] font-bold md:text-[28px]">
            TESELSKABET X BELMA
          </h2>

          <div class="mt-10 space-y-5 font-special text-[16px]">
            <p>TYPE OF TEAS</p>

            <div class="pt-4">
              <div class="flex items-end gap-1">
                <span class="max-w-97.5">
                  All Day Earl Grey, Cool Mint, Breakfast Blend No.2, White Tea w. Blood Orange & Ginger, Green Sencha “Tony’s Blend”
                </span>
                <span class="mb-1 grow border-b border-dashed border-neutral-white"></span>
                <span>39kr</span>
              </div>
            </div>

            <p class="pt-7 pb-2">HOT CHOCOLATE</p>

            <div class="flex items-end gap-1">
              <span>Hot Chocolate</span>
              <span class="mb-1 grow border-b border-dashed border-neutral-white"></span>
              <span>45kr</span>
            </div>

            <div class="flex items-end gap-1">
              <span>W. cream</span>
              <span class="mb-1 grow border-b border-dashed border-neutral-white"></span>
              <span>+10kr</span>
            </div>

            <p class="pt-7 pb-2">COPENHAGEN COFFEE LAB X BELMA</p>

            <div class="flex items-end gap-1">
              <span>Filter Coffee</span>
              <span class="mb-1 grow border-b border-dashed border-neutral-white"></span>
              <span>34kr</span>
            </div>

            <div class="flex items-end gap-1">
              <span>Double Espresso</span>
              <span class="mb-1 grow border-b border-dashed border-neutral-white"></span>
              <span>34kr</span>
            </div>

            <div class="flex items-end gap-1">
              <span>Americano</span>
              <span class="mb-1 grow border-b border-dashed border-neutral-white"></span>
              <span>39kr</span>
            </div>

            <div class="flex items-end gap-1">
              <span>Double Macchiato</span>
              <span class="mb-1 grow border-b border-dashed border-neutral-white"></span>
              <span>42kr</span>
            </div>

            <div class="flex items-end gap-1">
              <span>Cortado</span>
              <span class="mb-1 grow border-b border-dashed border-neutral-white"></span>
              <span>44kr</span>
            </div>

            <div class="flex items-end gap-1">
              <span>Flat White</span>
              <span class="mb-1 grow border-b border-dashed border-neutral-white"></span>
              <span>47kr</span>
            </div>

            <div class="flex items-end gap-1">
              <span>Cappucino</span>
              <span class="mb-1 grow border-b border-dashed border-neutral-white"></span>
              <span>49kr</span>
            </div>

            <div class="flex items-end gap-1">
              <span>Caffe Latte</span>
              <span class="mb-1 grow border-b border-dashed border-neutral-white"></span>
              <span>54kr</span>
            </div>

            <div class="flex items-end gap-1">
              <span>Iced Latte</span>
              <span class="mb-1 grow border-b border-dashed border-neutral-white"></span>
              <span>54kr</span>
            </div>

            <p class="pt-7 pb-2">ALCHOLIC HOTTIES</p>

            <div class="flex items-end gap-1">
              <span>La Mumba</span>
              <span class="mb-1 grow border-b border-dashed border-neutral-white"></span>
              <span>125kr</span>
            </div>

            <div class="flex items-end gap-1">
              <span>Irish Coffee</span>
              <span class="mb-1 grow border-b border-dashed border-neutral-white"></span>
              <span>125kr</span>
            </div>

            <div class="flex items-end gap-1">
              <span>Hot Toddy</span>
              <span class="mb-1 grow border-b border-dashed border-neutral-white"></span>
              <span>125kr</span>
            </div>
          </div>

          <p class="pt-20 text-center font-special text-[34px] md:text-[40px]">
            HOTTIES
          </p>
        </article>
      </div>
    </section>
    
  </main>
</Layout>
