---
const sizeClasses = {
  Text: "text-[14px] md:text-[15px] lg:text-[16px] font-outfit leading-relaxed",
};

interface Props {
  teksttype?: keyof typeof sizeClasses;
  stylingclasses?: string;
}

const { teksttype = "Text", stylingclasses = "" } = Astro.props as Props;
---

<p class={`${sizeClasses[teksttype]} ${stylingclasses}`}>
  <slot />
</p>
