---
const sizeClasses = {
  Text: "text-[14px] md:text-[15px] lg:text-[16px] font-outfit leading-[1.75] md:leading-[1.9]",
};

interface Props {
  // "keyof typeof sizeClasses" gør, at teksttype kun kan være en type fra sizeClasses.
  teksttype?: keyof typeof sizeClasses;
  stylingclasses?: string;
}

// Hvis der ikke sendes en teksttype med, bruger komponenten automatisk "Text".
const { teksttype = "Text", stylingclasses = "" } = Astro.props as Props;
---

<p class={`${sizeClasses[teksttype]} ${stylingclasses}`}>
  <slot />
</p>
